DB_HOST = (Name host)
DB_USERNAME = (Name User Database)
DB_PASSWORD = (Password Database)
DB_DATABASE = (Name Database)
DB_CONNECTION = (Name Connection)
DB_PORT = (Port DB)

BACKEND_PORT = (PORT APP)
BACKEND_URL = (URL FOR PAGINATION)

# secret_key
SECRET_KEY = (Your Secret Key)


